{% extends 'base.html' %}

{% block title %}My shop - Bosh sahifa{% endblock %}

{% block content %}
  <h2>Ommabop mahsulotlar ></h2>
  <div class="scroll-container">
    <button class="scroll-button" onclick="scrollProducts('left', 'popularContainer')">←</button>
    <div class="products" id="popularContainer">
      {% for product in popular_products %}
      <div class="product-card">
        <span class="heart-icon"
              style="color: {% if product.id in favorites %}#006400{% else %}gray{% endif %};"
              onclick="toggleFavorite({{ product.id }}, this)">♥</span>
        <img src="{{ product.image.url }}" alt="Mahsulot rasmi">
        <div class="product-name">{{ product.product_name }}</div>
        <div class="product-price">{{ product.price }} so'm</div>
        <button class="add-to-cart" onclick="addToCart({{ product.id }})">Savatga</button>
      </div>
      {% endfor %}
    </div>
    <button class="scroll-button" onclick="scrollProducts('right', 'popularContainer')">→</button>
  </div>

  <h2>Hafta super narxlari ></h2>
  <div class="scroll-container">
    <button class="scroll-button" onclick="scrollProducts('left', 'dicountedContainer')">←</button>
    <div class="products" id="dicountedContainer">
      {% for product in discounted_products %}
      <div class="product-card">
        <span class="heart-icon"
              style="color: {% if product.id in favorites %}#006400{% else %}gray{% endif %};"
              onclick="toggleFavorite({{ product.id }}, this)">♥</span>
        <img src="{{ product.image.url }}" alt="Mahsulot rasmi">
        <div class="product-name">{{ product.product_name }}</div>
        <div class="product-price">{{ product.discount_price }} so'm</div>
        <div class="product-old_price"><s>{{product.price}} so'm</s></div>
        <button class="add-to-cart" onclick="addToCart({{ product.id }})">Savatga</button>
      </div>
      {% endfor %}
    </div>
    <button class="scroll-button" onclick="scrollProducts('right', 'dicountedContainer')">→</button>
  </div>

  <style>
    .heart-icon {
      cursor: pointer;
      font-size: 24px;
    }
  </style>

<script>
  function toggleFavorite(productId, element) {
    fetch(`/favorites/toggle/${productId}/`)
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          if (data.action === 'added') {
            element.style.color = '#006400'; // To‘q yashil
          } else if (data.action === 'removed') {
            element.style.color = 'gray'; // Avvalgi holat
          }
        }
      })
      .catch(error => {
        console.error("Xatolik:", error); // faqat console-da ko‘rinadi
      });
  }
</script>


{% endblock %}
